<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>{% block title %}{% endblock %}</title>    
    </head>
    <body>
        <div class="header">
            <img src="https://cbcol.mskobr.ru/images/cms/data/preview/1412078414o_kbt_png_250_135_1495134489.png" alt="logo" class="logo-kbt">
            <ul class="main_menu_header">
                <li class="menu_name"><a href="{% url 'main' %}">Главная</a></li>
                <li class="menu_name"><a href="/about">Про нас</a></li>
                <li class="menu_name"><a href="/materials">Материалы</a></li>
                <li class="menu_name"><a href="#">Добавить статью</a></li>
                <li class="menu_name"><a href="#">Регистрация</a> | <a href="#">Войти</a></li>
            </ul>
        </div>
        {% block body %}{% endblock %}
        <div class="footer">
            <ul class="main_menu_footer">
                <li class="menu_footer">Все права защищены &copy; 2022</li>
                <li class="menu_footer"><a href="/about">О нас</a></li>
                <li class="menu_footer"><a href="https://cbcol.mskobr.ru/#/">Перейти на сайт колледжа</a></li>
                <li class="menu_footer">8(977) 144-83-91</li>
                <img src="https://ppz-ural.ru/attachments/Image/prilozheniya-vkontakte.png?1533807009013" alt="Vk" class="logo-vk">
                <li class="menu_footer"><a href="https://vk.com/yamaher_x">Вконтакте</a></li>
            </ul>
        </div>
    </body>
</html>

