{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link type="text/css" href="{% static 'blog_app/css/styles.css' %}" rel="stylesheet" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{title}}</title>    
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <div class="header-row">
                        <a href="/" class="header-image">
                            <img src="../../static/blog_app/img/logo-kbt.png" alt="logo">
                        </a>
                        <nav class="header-menu">
                            <ul class="header-list">
                                <li class="list-item-header"><a class="item-link" href="{% url 'main' %}">Главная</a></li>
                                <li class="list-item-header"><a class="item-link" href="{% url 'about' %}">Про нас</a></li>
                                {% for c in cats %}
                                <li class="list-item-header"><a class="item-link" href="{% url 'category' c.slug %}">{{ c.name }}</a></li>
                                {% endfor %}
                                <li class="list-item-header"><a class="item-link" href="{% url 'addpost' %}">Добавить статью</a></li>
                            </ul>
                        </nav>
                        <div class="header-actions">
                            {% if request.user.is_authenticated %}
                            <div class="actions-item"><a href="#" class="actions-item">{{ user.username }}</a><a href="{% url 'logout' %}">Выйти</a></div>
                            {% else %}
                            <div class="actions-item"><a href="{% url 'register' %}">Регистрация</a></div>
                            <div class="actions-item"><a href="{% url 'login' %}">Войти</a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
            <main class="page">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </main>
            <footer class="footer">
                <div class="container">
                    <div class="footer-row">
                        <div class="footer-text">Все права защищены &copy; 2022</div>
                        <nav class="footer-menu">
                            <ul class="footer-list">
                                <li class="list-item-footer"><a class="item-link-footer" href="/about">О нас</a></li>
                                <li class="list-item-footer"><a class="item-link-footer" href="https://cbcol.mskobr.ru/#/">Перейти на сайт колледжа</a></li>
                                <li class="list-item-footer"><a class="item-link-footer" href="tel:89771448391">8(977) 144-83-91</a></li>
                            </ul>
                        </nav>
                        <a href="https://vk.com/yamaher_x" class="footer-vk">
                            <img src="../../static/blog_app/img/icons-vk.svg" alt="Vk">
                            <div class="footer-text-vk">Вконтакте</div>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>

