{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link type="text/css" href="{% static 'blog_app/css/styles.css' %}" rel="stylesheet" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{title}}</title>    
    </head>
    <body>
        <div class="header">
            <img src="https://cbcol.mskobr.ru/attach_files/logo/лого.png" alt="logo" class="logo-kbt">
            <ul class="main_menu_header">
                <li class="menu_name"><a href="{% url 'main' %}">Главная</a></li>
                <li class="menu_name"><a href="{% url 'about' %}">Про нас</a></li>

                {% for c in cats %}
                    <li class="menu_name"><a href="{% url 'category' c.slug %}">{{ c.name }}</a></li>
                {% endfor %}

                <li class="menu_name"><a href="{% url 'addpost' %}">Добавить статью</a></li>
                {% if request.user.is_authenticated %}
			    <li class="menu_name">{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
			    {% else %}
			    <li class="menu_name"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
			    {% endif %}
            </ul>
        </div>
        {% block body %}{% endblock %}
        <div class="footer">
            <ul class="main_menu_footer">
                <li class="menu_footer">Все права защищены &copy; 2022</li>
                <li class="menu_footer"><a href="/about">О нас</a></li>
                <li class="menu_footer"><a href="https://cbcol.mskobr.ru/#/">Перейти на сайт колледжа</a></li>
                <li class="menu_footer">8(977) 144-83-91</li>
                <img src="https://ppz-ural.ru/attachments/Image/prilozheniya-vkontakte.png?1533807009013" alt="Vk" class="logo-vk">
                <li class="menu_footer"><a href="https://vk.com/yamaher_x">Вконтакте</a></li>
            </ul>
        </div>
    </body>
</html>

