{% extends 'blog_app/base.html' %}
{% load humanize %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div id="wrapper">
    <div class="main">
        <h1>Результаты поиска по запросу:<br> {{query}}</h1><br>
        <h3>Найдено {{object_list|length}} совпадений</h3>
        <ul class="list-articles">
            {% for p in object_list %}
                <li class="item">
                    <div class="article-panel">
                        <p class="first">Категория: {{ p.cat }}</p>
                        <p class="last">Дата: {{ p.time_create|naturaltime }}</p>
                    </div>
                    <h2 class="item-title">{{p.title}}</h2>
                    <div class="body-item">
                        {% if p.photo %}
                        <div class="item-photo">
                            <p><img class="img-article-left thumb" src="{{ p.photo.url }}"></p>
                        </div>
                        {% endif %}
                        {% autoescape on %}
                        <div class="item-text">
                        <p class="post-text">{{p.content|truncatewords:50}}</p>
                        </div>
                        {% endautoescape %}
                    </div>
                    <div class="item-button">
                        <a class="button-link" href="{% url 'showpost' p.slug %}">Перейти</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}